@import '../../styles/mixins/pix-to-rem-mixin.mixin.scss';
@import '../../styles/mixins/flex-mixin.mixin.scss';
.loader-container {
    @include dFlexMixin(flex, column, center, center, false);
    padding-top: pixToRemMixin(40);
}

.loader {
    visibility: visible;
    height: pixToRemMixin(40);
    width: pixToRemMixin(40);
    border: pixToRemMixin(10) solid #c7c2c2;
    border-top: pixToRemMixin(10) solid #5e5a5a;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}