@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/font-styles-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
.input {
    width: pixToRemMixin(300);
    height: pixToRemMixin(30);
    outline: none;
    border: none;
    border-bottom: pixToRemMixin(2) solid rgb(0, 0, 0);
    &:hover {
        box-shadow: 5 pixToRemMixin(5) pixToRemMixin(15) 0 rgba(247, 204, 65, 0.753);
        border-bottom: pixToRemMixin(2) solid rgb(231, 178, 1);
    }
    &:active {
        outline: none;
        box-shadow: 5 pixToRemMixin(5) pixToRemMixin(15) 0 rgba(247, 204, 65, 0.753);
    }
    &:focus {
        box-shadow: 5 pixToRemMixin(5) pixToRemMixin(25) 0 rgba(247, 204, 65, 0.753);
    }
}