@import "../../styles/mixins/pix-to-rem-mixin.mixin.scss";
@import "../../styles/mixins/font-styles-mixin.mixin.scss";
@import "../../styles/mixins/flex-mixin.mixin.scss";
.form-header {
    padding: pixToRemMixin(60) pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0);
    @include fontStylesMixin('Ubuntu', 32, 400, #000);
}

.form-component {
    @include dFlexMixin(flex, column, center, center, false);
    @include fontStylesMixin('Ubuntu', 20, 400, #fff);
    height: pixToRemMixin(500);
    width: pixToRemMixin(600);
    margin: pixToRemMixin(0) pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(20);
    color: #000;
}

.field-container {
    @include dFlexMixin(flex, column, center, flex-start, false);
    padding: pixToRemMixin(10) pixToRemMixin(0) pixToRemMixin(10) pixToRemMixin(0);
}

.input-wrapper {
    padding: pixToRemMixin(0) pixToRemMixin(0) pixToRemMixin(10) pixToRemMixin(0);
}

.error-text {
    @include fontStylesMixin('Ubuntu', 14, 400, #fff);
    color: red;
    max-width: pixToRemMixin(300);
}

.btn-container {
    padding: pixToRemMixin(20) pixToRemMixin(0) pixToRemMixin(10) pixToRemMixin(0);
}

.btn-reset {
    @include fontStylesMixin("Ubuntu", 16, 400, #fff);
    @include dFlexMixin(inline-flex, false, center, center, center);
    height: pixToRemMixin(40);
    width: pixToRemMixin(110);
    margin: pixToRemMixin(10) pixToRemMixin(10) pixToRemMixin(0) pixToRemMixin(10);
    transition: all 200ms linear;
    border-radius: pixToRemMixin(4);
    letter-spacing: pixToRemMixin(1);
    border: none;
    position: relative;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    &:hover {
        background-color: rgb(189, 160, 65);
        ;
    }
    &:active {
        background-color: rgb(231, 178, 1);
    }
}

.btn-submit {
    @include fontStylesMixin("Ubuntu", 16, 400, #fff);
    @include dFlexMixin(inline-flex, false, center, center, center);
    height: pixToRemMixin(40);
    width: pixToRemMixin(170);
    margin: pixToRemMixin(10) pixToRemMixin(10) pixToRemMixin(0) pixToRemMixin(10);
    transition: all 200ms linear;
    border-radius: pixToRemMixin(4);
    letter-spacing: pixToRemMixin(1);
    border: none;
    position: relative;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    &:hover {
        background-color: rgb(189, 160, 65);
    }
    &:active {
        background-color: rgb(231, 178, 1);
    }
    &:disabled {
        background-color: rgba(177, 177, 177, 0.952);
    }
}